variables:    
  SSH_KNOWN_HOST: 
  SSH_PUBLIC_KEY: 
  TERRAFORM_VERSION: "1.3.1"
  SUBSCRIPTION: ""
  SVC_CONNECTION: ""
  TERRAFORM_BACKEND_CONTAINER_NAME: ""
  TERRAFORM_BACKEND_STORAGE_NAME: ""
  TERRAFORM_BACKEND_RESOURCE_GROUP_NAME: ""
  VAULT_NAME: ""
  AZ_REGIONS: "uksouth"
  TERRAFORM_LOCATION: uksouth
  TERRAFORM_ENVIRONMENT: dev
  POOL: ""
